<div style="margin-left: 30px; margin-top:30px;">
<p>
  <strong>评论标题:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>评论内容:</strong>
  <%= comment.body %>
<button>
  <%= link_to '删除评论', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</button>
</p>
</div>