<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div style="margin-top: 40px; margin-left: 30px" class="title"><h1>编辑博文</h1></div>

<div>
  <%= render 'form' %>
</div>

<div style="margin-top: 10px; margin-left: 30px">
  <button><%= link_to '返回', articles_path %></button>
</div>

</body>
</html>