<div id="main_box">

<div style ="margin-left: 30px;"><h1>新規文章</h1></div>

<div>
<%= render 'form' %>
</div>

<div style="margin-top: 10px;">
  <button><%= link_to '返回', articles_path %></button>
</div>
</div>