<div class="title" style ="margin-top: 100px;">
<h1 align="center">Goodbye!</h1>
</div>
<h2 align="center">
  It was nice having you here.
</h2>

<h2 align="center">
  Say <a href="/welcome/index">log in</a>!
</h2>