<div id ="main_box">
<div align="center">
  こんにちは、僕はパンダです。<br>
  <br>
  趣味はプログラミング。<br>
  <br>
  このサイトは僕が一人でRuby On　Railsを勉強しながら作ったものです。<br>
  <br>
  まだまだ勉強したいことがおおいので、何かあったら、ぜひお気軽に指摘してください。<br>
  <br>
  <br>

  <a href="mailto:marvenhool911@hotmail.com">お竹を僕に送る（メール）</a>
</div>
</div>