<div style ="margin-top: 100px;">
  <h1 align="center">欢迎来到 marvenhool 的博客世界！</h1>
  <p align="center">――marvenhool 的博客世界！ </br>是一个基于 Ruby on Rails 的博客系统。</p>


  <div align="center">
    <%= link_to '进入博客', controller: 'articles' %>
    <%= link_to '浏览商品', controller: 'products' %>
  </div>
  <div align="center"><a href="/welcome/goodbye">退出欢迎页</a></div>
</div>
