<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>
  <style type="text/css">
      body {background-color: #79e2ff}
  </style>
</head>
<body>
<div>
  <h1 align="center">欢迎来到 marvenhool's blog world!</h1>
  <p align="center">――marvenhool's blog world! </br>是一个基于 Ruby on Rails 的微博系统。</p>


  <div align="center">
   <%= link_to '进入博客', controller: 'articles' %>
  </div>
  <div align="center"><a href="/welcome/goodbye">退出欢迎页</a></div>
</div>

</body>
</html>