<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/html">

<head>
  <title>ばぶんごうの小さい世界</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header class="container">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="home" href="/welcome/index">Home</a>
        <a class="home" href="/articles/">Blog</a>
        <a class="home" href="/products/">Product</a>
        <a class="home" href="/photos/index/">Photo</a>
      </div><!-- Container -->
    </div><!-- Nav Bar - Inner -->
  </div><!-- Nav Bar -->
</header><!-- /container -->

<%= yield %>

<div id="footer" class="footer">
  <div class="utilityMenu">
    <a target="_blank" href="http://www.taobao.com/">淘宝网</a>&nbsp;|&nbsp;
    <a target="_blank" href="http://www.amazon.jp/">日本亚马逊</a>&nbsp;|&nbsp;
    <a target="_blank" href="http://www.kakaku.com/">价格.com</a>&nbsp;|&nbsp;
    <a target="_blank" href="">相关法律</a>&nbsp;|&nbsp;
    <a target="_blank" href="">广告服务</a>&nbsp;|&nbsp;
    <a target="_blank" hrel="">联系我们</a>&nbsp;|&nbsp;
    <a target="_blank" href="">网站地图</a>&nbsp;|&nbsp;
    <a target="_blank" href="">合作伙伴</a>
  </div>
  <div class="copyright">&copy; 2002-2015 marvenhool.com, All Rights Reserved. 宅腐基地  版权所有 沪ICP备05008275号-1</div>
</div>

</div>

</body>
</html>

