/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require bootstrap.min
 */

body{
    background: image_url("background.jpg");
}

.footer
{
    margin-top: 100px;
    text-align:center;
    clear:both;
    line-height:24px;
    padding-bottom:20px;
}

//========================naviBar=======================
div.navbar-inner{
  margin-top: 15px;
}
a.home{
  color: #d0e9c6;
  font-size: large;
  margin-left: 30px;
}

//========================naviBar=======================

//========================Body=======================
div#main_box{
  margin: 0 auto;
  margin-top: 80px;
  width: 75%;
}
div#side_box{
}
div#content_box{
  border-bottom: 1px solid #999;
  margin-top: 28px;
}
//========================Body=======================


//========================Table=======================

table.blogtable{
    padding: 0px;
    border: 1px;
    margin: 0px 5px 3px 10px;;
    border-collapse: collapse;
}
table th{
    padding-left: 10px;
    height: 40px;
    border: 1px solid #101010;
}

table td{
    height: 30px;
    padding-left: 5px;
    border: 1px solid #101010;
}

//========================Table=======================

//========================article=======================

div.article_title{
   margin-top: 20px;
  font-family: Arial, sans-serif;
  color: #369;
  padding-bottom: 4px;
  border-bottom: 1px solid #999;
 }

div.article_content{
  margin-left: 30px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

div.article_foot{
  margin-top: 20px;
  font-family: Arial, sans-serif;
}
//========================article=======================
